<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>fuelsystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>adminDetails</servlet-name>
		<servlet-class>com.servlets.employerservlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>adminDetails</servlet-name>
		<url-pattern>/employerdetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addData</servlet-name>
		<servlet-class>com.servlets.InsertAdmin</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>addData</servlet-name>
		<url-pattern>/insertdata</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>updateData</servlet-name>
		<servlet-class>com.servlets.UpdateAdmin</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>updateData</servlet-name>
		<url-pattern>/updatedetails</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>deleteData</servlet-name>
		<servlet-class>com.servlets.DeleteAdmin</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>deleteData</servlet-name>
		<url-pattern>/deletedetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>alladmindata</servlet-name>
		<servlet-class>com.servlets.AdminAll</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>alladmindata</servlet-name>
		<url-pattern>/allempdetails</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>addSerManager</servlet-name>
		<servlet-class>com.servlets.InsertSmanServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addSerManager</servlet-name>
		<url-pattern>/insertSmanager</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fetchSerManager</servlet-name>
		<servlet-class>com.servlets.SerManAllServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>fetchSerManager</servlet-name>
		<url-pattern>/fetchSerMan</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateSerManager</servlet-name>
		<servlet-class>com.servlets.updateManagerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateSerManager</servlet-name>
		<url-pattern>/updateSerManage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteSerManager</servlet-name>
		<servlet-class>com.servlets.DeleteSerManager</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteSerManager</servlet-name>
		<url-pattern>/deleteSerMan</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FuelManagerAll</servlet-name>
		<servlet-class>com.servlets.FuelManagerAll</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FuelManagerAll</servlet-name>
		<url-pattern>/FuelManAllServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FuelManUpdate</servlet-name>
		<servlet-class>com.servlets.UpdateFuelMan</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FuelManUpdate</servlet-name>
		<url-pattern>/UpdateFuelMDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addfuelman</servlet-name>
		<servlet-class>com.servlets.insertFuelMan</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addfuelman</servlet-name>
		<url-pattern>/addFmanager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletefuelman</servlet-name>
		<servlet-class>com.servlets.deleteFuelMan</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deletefuelman</servlet-name>
		<url-pattern>/deleteFMan</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>insertResourse</servlet-name>
		<servlet-class>com.servlets.addFuel</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>insertResourse</servlet-name>
		<url-pattern>/addFueldata</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DieselProfitData</servlet-name>
		<servlet-class>com.servlets.AllDieselData</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DieselProfitData</servlet-name>
		<url-pattern>/DieselFuelData</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>petrolAllData</servlet-name>
		<servlet-class>com.servlets.AllPetrolData</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>petrolAllData</servlet-name>
		<url-pattern>/petrolAllData</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UpdateDiesel</servlet-name>
		<servlet-class>com.servlets.UpdateDiesel</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateDiesel</servlet-name>
		<url-pattern>/updateDiesel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteDiesel</servlet-name>
		<servlet-class>com.servlets.DeleteDiesel</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteDiesel</servlet-name>
		<url-pattern>/deleteDiesel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>calDiesel</servlet-name>
		<servlet-class>com.servlets.CalculateSev</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>calDiesel</servlet-name>
		<url-pattern>/calDiesel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdatePetrol</servlet-name>
		<servlet-class>com.servlets.UpdatePetrol</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdatePetrol</servlet-name>
		<url-pattern>/updatePetrol</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>DeletePetrol</servlet-name>
		<servlet-class>com.servlets.DeletePetrol</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeletePetrol</servlet-name>
		<url-pattern>/deletePetrol</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CalPetrol</servlet-name>
		<servlet-class>com.servlets.CalPetrol</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CalPetrol</servlet-name>
		<url-pattern>/calPetrol</url-pattern>
	</servlet-mapping>
	
	
</web-app>